/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: scroll;

}
.arrowimg{
  width: 25px;
  height: auto;
  margin-top: auto;
  margin-bottom: 50%;

}
body{
  position: relative;

}
.card {
  flex-direction: row;
  align-items: center;
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
}
.card-title {
  font-weight: bold;
}

.card img {
  width: 18rem;
}



.frontbody{
  height: calc(100vh - 8em);
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
}
.line-1{
    position: relative;
    top: 25%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 120%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.container{
  position: relative;
  top:25%;
}
/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 22em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
@media only screen and (min-width: 992px) {

.line-1{
  top:50%;
  font-size: 180%;
}
.container{
  position: relative;
  top:50%;
}
.card img {
  width: 30%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}

} 


